#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

:root {
  --bar-height: 42px;
  --color-light-background: #ffffff;
  --color-light-accent: #ececec;
  --color-light-icons-and-text: #000000;
  --color-light-update-status: #5a5a5a;
  --content-padding: 0 15px;
}

