li.feedItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: var(--bar-height);
}

svg.icon {
  stroke: var(--color-light-icons-and-text)
}

span.label {
  font-size: 17px;
  font-family: "Atkinson Hyperlegible Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  flex-grow: 1;
  margin: 0 10px;
  color: var(--color-light-icons-and-text);
}

div.counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-light-accent);
  padding: 0 10px;
  border-radius: 10px;
}

div.counter > .number {
  font-size: 12px;
  font-family: "Atkinson Hyperlegible Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--color-light-icons-and-text);
}