#footer {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  height: var(--bar-height);
  padding: var(--content-padding);
}

#footer > svg.settingsIcon {
  stroke: var(--color-light-icons-and-text);
}

#footer > span.updateStatus {
  font-size: 13px;
  font-family: "Atkinson Hyperlegible Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--color-light-update-status);
}