#header {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  height: var(--bar-height);
  padding: var(--content-padding);
  color: var(--color-light-background);
}

#header > span.location {
  font-size: 19px;
  font-family: "Atkinson Hyperlegible Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: var(--color-light-icons-and-text);
}

#header > svg.listFilterIcon {
  stroke: var(--color-light-icons-and-text);
}